@model Dictionary<string, List<EventUi>>
@{
    ViewBag.Title = "This Weeks Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>
@foreach (var pair in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @pair.Key
        </div>
        <div class="panel-body">
            <table class="table">
                @foreach (var item in pair.Value)
                {
                    <tr>
                        <td>
                            @item.dateFromTo
                        </td>
                        <td>
                            @item.description
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
